.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  background-color:transparent;
  z-index: 1000000;
}



.modal-close {
  width: 38px;
  height: 38px;
  border-radius:50%;
  position:absolute;
  right:7%;
  top:-19px;
  display:block;
  background-color:$color-brand;
  z-index: 2;
  padding:0;
}

.modal-close svg {
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  left:50%;
  top:50%;
  margin-left: -6px;
  margin-top: -6px;
  box-shadow: 1px 0p 1px 8px rgba(0,0,0,0.15);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.75);
  z-index: 1;
}

.post-edit {
  width:100%;
  max-height:45vh;
  height: auto;
  flex: 0 0 auto;
  overflow: visible;
  position:absolute;
  z-index: 2;
  bottom:0;
  background-color:#FFF;
  flex-direction: column;
}

.post-edit .wall-item {
  width: 100%;
  height: 100%;
  // position: absolute;
}

.post-edit .wall-item.quote {
  height: auto;
}

.post-edit .wall-item--inner {
  padding-bottom:60px;
}

.post-edit .wall-item--messsage {
  height: 100%;
}

.post-edit--actions {
  position:absolute;
  padding: 10px 0;
  background-color:#F9F9F9;
  bottom:0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.post-edit--options {
  flex: 1 1 auto;
  display: block;
}

.post-edit--options--item {
  opacity: 0.6
}

.post-edit--send {
  flex: 0 0 auto;
  margin: 0 10px;
  font-size: 16px;
  color:#FF4E75;
  font-weight: 600;
}

.post-edit--send:disabled {
  color:#8D8D8D;
}

.post-edit-middle {
  width:100%;
  // height:100%;
  flex: 0 0 auto;
}

.post-edit-header {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start; align-items: flex-start;
}

.photos {
	height: 30vh;
	margin-left: calc-em(70px);
    margin-right: calc-em(10px);
    margin-bottom: calc-em(20px);
    display: flex;
    flex-direction: column;
	.photo { 
    width: 20px;
    height: 20px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
	}
}

.post-edit-header--image {
    margin: calc-em(16px) calc-em(16px);
    border-radius: 8px;
    width: calc-em(50px);
    height: calc-em(50px);
    display: flex;
    background-size: cover;
    position: relative;
}

.post-edit-header--username {
    margin: calc-em(16px) 0;
    @extend .font-size-medium;
}

.post-edit textarea {
  @extend .font-size-default;
  color: $color-black;
  width:100%;
  height: 18px;
  border: 0;
  border-style: none;
}
.post-edit-quote {
  padding-left: calc-em(70px);
    // bottom: 0;
}

.post-edit-menu-long {
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.post-edit-menu-item-long {
    border-top: 1px solid $color-light-grey;
    margin: 0 0 0 calc-em(8px);
    display: flex;
    flex-direction: row;
    .post-edit-menu-item-icon {
      margin: calc-em(8px);
      width: calc-em(20px);
      height: calc-em(20px);
      img {
          height: 100%;
          width: 100%;
      }
      svg {
          height: 100%;
          width: 100%;
      }
    }
    span {
      @extend .font-size-default;
      line-height: 1;
      margin: auto auto calc-em(8px) calc-em(8px);
    }
}

.chat-lower {
  position:relative;
  width:100%;
  flex: 0 0 auto;
  background-color: $chat-lower;
  transition: all 333ms ease;
}

.chat-input {
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border-top: 1px solid $color-light-grey;
  background-color:$color-white;
}

.chat-input--middle {
  flex:1 1 auto;
  padding: 0;
  padding-right: 20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.chat-input--right,
.chat-input--left {
  flex:0 0 auto;
  padding: calc-em(11px) calc-em(15px);
}

.chat-input--left {
}

.chat-input--middle input {
  @extend .font-size-default;
  font-family: $chat-family;
  width:100%;
  background-color: transparent;
  border:none;
  height:100%;
  max-height: calc-em(80px);
  flex: 0 0 auto;
  padding: 0.2em 0 0.3em;
  color: $color-dark-grey;
  line-height: 1;

  &::-webkit-input-placeholder {
    color:$color-grey;
  }
}

.chat-input--send-btn {
  pointer-events:none;
  color:$chat-input-send;
  padding:0;
}

.chat-input--send-btn:disabled {
  color:$chat-input-send-disbled;
}

// actions

.chat-input--actions--item {
  width:23px;
  height:23px;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.camera-icon {
  background-image: url('assets/img/icCamera.png');
  background-size: calc-em(20px);
  background-position: center;
  background-repeat: no-repeat;
}

.chat-input--actions--item svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
