
.post-edit {
  width:100%;
  height:100%;
  flex: 0 0 auto;
  flex-direction: column;
}

.post-edit-middle {
  width:100%;
  // height:100%;
  flex: 0 0 auto;
}

.post-edit-header {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.post-edit-header--image {
    margin: calc-em(16px) calc-em(16px);
    border-radius: 8px;
    width: calc-em(50px);
    height: calc-em(50px);
    display: flex;
    background-size: cover;
    position: relative;
}

.post-edit-header--username {
    margin: calc-em(16px) 0;
    @extend .font-size-medium;
}

.post-edit-middle textarea {
  width:100%;
  padding-left: calc-em(70px);
  min-height: calc-em(64px);
  border: 0;
  border-style: none;
}
.post-edit-quote {
  padding-left: calc-em(70px);
    // bottom: 0;
}

.chat-lower {
  position:relative;
  width:100%;
  flex: 0 0 auto;
  background-color: $chat-lower;
  transition: all 333ms ease;
}

.chat-input {
  width:100%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border-top: 1px solid $color-light-grey;
  background-color:$color-white;
}

.chat-input--middle {
  flex:1 1 auto;
  padding: 0;
  padding-right: 20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.chat-input--right,
.chat-input--left {
  flex:0 0 auto;
  padding: calc-em(11px) calc-em(15px);
}

.chat-input--left {
}

.chat-input--middle input {
  @extend .font-size-default;
  font-family: $chat-family;
  width:100%;
  background-color: transparent;
  border:none;
  height:100%;
  max-height: calc-em(80px);
  flex: 0 0 auto;
  padding: 0.2em 0 0.3em;
  color: $color-dark-grey;
  line-height: 1;

  &::-webkit-input-placeholder {
    color:$color-grey;
  }
}

.chat-input--send-btn {
  pointer-events:none;
  color:$chat-input-send;
  padding:0;
}

.chat-input--send-btn:disabled {
  color:$chat-input-send-disbled;
}

// actions

.chat-input--actions--item {
  width:23px;
  height:23px;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.chat-input--actions--item svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
