.chat-item {
  width:100%;
  flex: 0 0 auto;
  padding: calc-em(10px) 0;
}

// .chat-item:first-child {
//   padding-top: 12vh;
// }

.chat-item--inner {
  width:100%;
  display:flex;
  position: relative;
  flex-direction: row;
}

.chat-item--inner--left {
  flex: 0 0 auto;
}

.chat-item--inner--right {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction:column;
  padding-right: calc-em(10px);
}

.chat-item--inner--meta {
  width:100%;
  flex:0 0 auto;
  display:flex;
  flex-direction: row;
  align-items:flex-start;
}

.chat-item--inner--avatar {
  display:block;
  width: calc-em(36px);
  height: calc-em(36px);
  background-color: $chat-avatar;
  margin: 0 calc-em(13px);
  border-radius: calc-em(8px);
  overflow:hidden;
  img {
    width: calc-em(36px);
    height: calc-em(36px);
  }
}

.chat-item--inner--meta--username {
  flex: 0 0 auto;
  font-weight: 600;
  color: $color-dark-grey;
}

.chat-item--reply--button {
  cursor: pointer;
  flex: 0 0 auto;
  align-self: flex-end;
  margin-left: auto;
  background-image: url('assets/img/reply.png');
  background-size: calc-em(18px);
  background-position: center;
  background-repeat: no-repeat;
  width: calc-em(32px);
  height: calc-em(32px);
  vertical-align: middle;
  transform: translate3d(calc-em(8px), calc-em(-8px), 0);
  position: relative;
}

.chat-item--delete--button {
  cursor: pointer;
  flex: 0 0 auto;
  align-self: flex-end;
  background-image: url('assets/img/delete.png');
  background-size: calc-em(18px);
  background-position: center;
  background-repeat: no-repeat;
  width: calc-em(32px);
  height: calc-em(32px);
  vertical-align: middle;
  transform: translate3d(calc-em(8px), calc-em(-8px), 0);
  position: relative;
}

.chat-item--edit--button {
  cursor: pointer;
  flex: 0 0 auto;
  align-self: flex-end;
  background-image: url('assets/img/edit.svg');
  background-size: calc-em(18px);
  background-position: center;
  background-repeat: no-repeat;
  width: calc-em(32px);
  height: calc-em(32px);
  vertical-align: middle;
  transform: translate3d(calc-em(8px), calc-em(-8px), 0);
  position: relative;
}


.chat-item--inner--meta--time {
  @extend .font-size-small;
  font-family: $chat-family;
  flex: 0 0 auto;
  font-weight: 400;
  margin-left: calc-em(5px);
  color: $color-medium-grey;
  position: relative;
}

.chat-item--inner--message {
  width:100%;
  flex: 0 0 auto;
  padding:0;
  margin-top: calc-em(-8px);
}

.chat-item--inner--message--content {
  @extend .font-size-default;
  color:$color-dark-grey;
  font-family: $chat-family;
  width:100%;
  position:relative;
  word-wrap: break-word;
  line-height: 1;
}


.chat-item--inner--message--content--image {
  max-width:70%;
  display:block;
  position:relative;
  float:left;
  overflow: hidden;
}

.chat-item--inner--images {
  display: flex;
  height: 20vh;
  flex-direction: column;
  .image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
    flex: 1 1 auto;
  }
}
.chat-item--inner--message--content--image div{
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
}

.chat-quote {
  // border: 1px solid #f5f5f5;
  padding: calc-em(6px);
}
.chat-quote--username {
  padding:0;
  @extend .chat-item--inner--meta--username;
}

.chat-quote--text {
  margin-top: calc-em(2px);
  padding-right: calc-em(10px);
  padding-left: calc-em(50px);
  @extend .chat-item--inner--message--content; 
} 

.chat-quote-avatar {
  @extend .chat-item--inner--avatar ;
  margin: 0 calc-em(13px) 0 0;
}

.chat-quote--inner--images {
  display: flex;
  height: 20vh;
  flex-direction: column;
  padding-left: calc-em(50px);
  .image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
    flex: 1 1 auto;
  }
}
