//////////////////////////////////////////////////////////////////////////////////////////
// ROSTER STYLING

// input, input:before, input:after, textarea {
//   -webkit-user-select: initial;
//   -khtml-user-select: initial;
//   -moz-user-select: initial;
//   -ms-user-select: initial;
//   user-select: initial;
// }

// input[type="text"] {
//   text-transform: lowercase;
// }

@media screen and (device-aspect-ratio: 40/71) {
  /* iphone 5 */
  body {
    margin-top: 25vh;
  }
}


// body {
//   @extend html;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background: #333333;
// }


.main-div {
  background: #fff;
  color: #000;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.loader {
  position: absolute;
  top: 40vh;
  left: 40vw;
  height: 64px;
  width: 64px;
}

.roster {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.roster-header {
  background-color: $color-light-grey;
  color: $color-grey;
  padding: calc-em(4px) calc-em(16px) calc-em(3px);
  font-size: calc-em(12px);
  margin: 0;
}

.roster-list {
  margin: 0 auto;
}

//////////////////////////////////////////////////////////////////////////////////////////
// MY CELL STYLING

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roster-me {
  display: block;
  overflow: auto;
  margin: calc-em(16px) calc-em(16px);
  .roster-list-item--image {
    border-radius: 8px;
    width: calc-em(50px);
    height: calc-em(50px);
    display: flex;
    justify-content: space-around;
    background-size: cover;
    position: relative;
    .image {
        border-radius: 8px;
        z-index: 0;
        width: calc-em(50px);
        height: calc-em(50px);
        background-size: cover;
    }
    .loading {
        z-index: 100;
        border-radius: 50%;
        margin-top: calc-em(13px);
        width: calc-em(24px);
        height: calc-em(24px);
        border: .25rem solid $off-white;
        border-top-color: $white;
        animation: spin $spin-duration infinite linear;
    }
    // img {
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     z-index: 1;
    // }
    .fileOverlay {
        position: absolute;
        background-size:  calc-em(23px)  calc-em(21px);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(255,255,255,0.5);
        top: 0px;
        left: 0px;
        width: calc-em(50px);
        height: calc-em(50px);
        z-index: 2;
    }
    input {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
        opacity: 0;
    }
  }
  .roster-list-item--image img {
    width: calc-em(50px);
    height: calc-em(50px);
  }
  .roster-list-item--image input{
    width: calc-em(50px);
    height: calc-em(50px);
  }
  .roster-list-item--user--name {
    @extend .font-size-medium;
  }
  &.roster-list-item {
    border: 0;
  }
}

.edit-settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  img {
    width: calc-em(20px);
    height: calc-em(20px);
  }
}

.roster-list-item--user--name--edit {
  font-size: 3.7vh;
  width: 50vw;
  border: none;
  border-bottom: 1px solid #858c93;
  border-radius: 0px;
}

//////////////////////////////////////////////////////////////////////////////////////////
// DEFAULT ROSTER CELL

.roster-list-item {
  overflow: auto;
  margin: 0;
  padding: calc-em(16px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  border-bottom: 1px solid $color-light-grey;
}

.roster-list-item--image,
.chat-item--inner--avatar {
  float: left;
}

.roster-list-item--image img ,
.chat-item--inner--avatar img {
  border-radius: 1.3vh;
  width: 10vw;
}

.roster-list-item--user {
  margin-left: calc-em(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  flex: 1 1 auto;
}

.roster-list-item--user--name {
}

.roster-list-item--user--desc {
  display: block;
  color: #868686;
}

.roster-list-item--user--chat-badge {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  img {
    width: calc-em(20px);
    height: calc-em(20px);
  }
}

.unread-badge {
  border-radius: 50%;
  background-color: #f73c40;
  display: block;
  width: 5vh;
  height: 5vh;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-top: 2px;
  padding-top: 4px;
}

.circle {
  border-radius: 50%;
  background-color: #2CBF76;
  display: inline-block;
  width: 2vh;
  height: 2vh;
}

.no-recent-message {
  color: #a6a6a6;
}

.zero-starred {
  text-align: center;
  color: #767676;
  width: 82%;
  margin: 4vh auto;
}
