// Wall Item
//////////////////////////////////////////////////////////////////////////////////////////
// -- Generic Item style 
.wall-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wall-item--inner {
    width: 100%;
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.wall-item.post {
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}

.wall-item--inner--meta {
    flex: 0 0 auto;
}

.wall-item--inner--body {
    flex: 1 1 auto;
}

.wall-item--bar {
  flex:0 0 auto;
  width: 4px;
  background-color:#BCBCBC;
  border-radius:2px;
}


// -- Meta
.wall-item--meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.wall-item--meta--image {
    flex: 0 0 auto;
}

.wall-item--meta--image img {
    width: 12vw;
    background-color: grey;
    border: none;
    height: 12vw;
    margin-right: 10px;
    display: block;
    border-radius:1vw;
}

.wall-item--meta--text {
    flex: 0 0 auto;
}

.wall-item--meta--text--name {
    display: block;
    @extend .font-size-medium;
}

.wall-item--meta--text--info {
    display: block;
    @extend .font-size-small;
    color:#CBCBCB;
}


// quote type.
.wall-item--meta.quote {
    justify-content: initial;
}

.wall-item--meta.quote .wall-item--meta--image img {
    width: 7vw;
    height: 7vw;
}

.wall-item--meta.quote .wall-item--meta--text--label {
    @extend .font-size-small;
}

// -- footer
.wall-item--footer {
    width: 100%;
    border-top: 1px solid #f4f4f4;
    margin-top: 8px;
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content: center;
}

.wall-item--footer--views {
    float: right;
    @extend .font-size-tiny;
    color:#828282;
}

.wall-item--footer--reply {
  font-size: 14px;
  color:red;
  flex: 0 0 auto;
  vertical-align:middle;
}

.wall-item--footer--reply svg {
 display:inline-block;
 vertical-align:middle;
}

// actions

.wall-item--meta--actions {
    flex: 1 1 auto;
}



.wall-item--action {
  float: right;
  display: block;
}

// -- Message 
.wall-item--message {
    width: 100%;
    padding: 8px 0;
}

.wall-item--message p,
.wall-item--message span {
    color: $text-dark;
    display: inline;
}

.wall-item--message--text.quote {
  @extend .font-size-tiny;
}

// -- quote
.wall-item--quote {}

// -- images
.wall-item--images {
    list-style-type: none;
    width: 100%;
}

.wall-item--media-list{
  list-style-type: none;
  width: 100%;
}

.media-item {
    height: 20vh;
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
}

// -- giphy
.wall-item--giphy {}

// -- sticker

.wall-item--sticker {

}
