
// Wall Item
//////////////////////////////////////////////////////////////////////////////////////////


// -- Generic Item style 

.wall-item {
  width: 100%;
  display: block;
}

.wall-item--inner {
  width: 100%;
  padding:10px;
  display: flex;
  flex-direction: column;
  border-top:1px solid #DBDBDB;
  border-bottom:1px solid #DBDBDB;
  background-color:#FFF;
}

.wall-item--inner--meta {
  flex: 0 0 auto;
}

.wall-item--inner--body {
  flex: 1 1 auto;
}


// -- Meta

.wall-item--meta {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  margin-bottom:10px;
}

.wall-item--meta--image {
  flex: 0 0 auto;

}

.wall-item--meta--image img {
  width: 10vw;
  background-color: grey;
  border:none;
  height: 10vw;
  margin-right: 10px;
  display: block;
}

.wall-item--meta-text {
  flex: 0 0 auto;
}

.wall-item--meta--text--label {
  display: inline-block;
  @extend .font-size-medium;
}

// -- footer

.wall-item--footer {
  width: 100%;
  border-top: 1px solid #f4f4f4;
  padding-top:8px;
}

.wall-item--footer--views {
  float:right;
  @extend .font-size-tiny;
}


.wall-item--meta--actions {
  flex: 1 1 auto;
}

// -- Message 

.wall-item--message {
  width: 100%;
  padding: 10px 0;
}

.wall-item--message p,
.wall-item--message span {
  
 color: $text-dark;
 display:inline;
}

// -- quote
.wall-item--quote {

}

// -- images

.wall-item--images {
  list-style-type: none;
  width: 100%;
}

.wall-item--media-list{
  list-style-type: none;
  width: 100%;
}

.media-item {
    height: 20vh;
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
}

// -- giphy

.wall-item--giphy {

}

// -- sticker

.wall-item--sticker {

}
