//////////////////////////////////////////////////////////////////////////////////////////
// IMPORTS 
@import "./css/reset";
@import "./css/mixins";
@import "./css/colors";
@import "./css/typography";

@import "./css/chat-input";
@import "./css/chat-list";
@import "./css/chat-item";
@import "./css/giphy-browser";
@import "./css/header";
@import "./css/photo";
@import "./css/photo-viewer";

// new -viktor
@import "./css/wall-item";
@import "./css/dialog";


//////////////////////////////////////////////////////////////////////////////////////////
// ROOM STYLES

body, html {
  overflow:hidden;
  height:100%;
  min-height:inherit;
  position:fixed;
  width:100%;
  top:0;
  left:0;
}

#app {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow: auto;
  overflow-x: hidden;
  background-color:#212326;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  .app-root {
	  width:100%;
	  height:100%;
  }
}

.chat {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  overflow:hidden;
  // position: relative;
  // top:0;
  // left:0;
  background-color: #212326;
}

// minimized wall

.chat.is-minimized {
  transform: scale(0.975);
}


.chat-users {
  position:fixed;
  top:10%;
  height:80%;
  display:block;
  width:60px;
  right:0;
  background-color:red;
}

button {
  background-color:transparent;
  border:none;
}

.chat-new-post {
  z-index: 100;
  background-color:$color-brand;
  bottom: 5vw;
  right: 5vw;
  width: 16vw;
  height: 16vw;
  border-radius:50%;
  position: fixed;
  box-shadow:1px 0px 10px 1px rgba(0,0,0,0.15);
}

.chat-new-post svg {
  $size: 7vw;
  height: $size;
  width: $size;
  left:50%;
  top:50%;
  position: absolute;
  margin-left: -$size/2;
  margin-top: -$size/2;
}




