//////////////////////////////////////////////////////////////////////////////////////////
// IMPORTS 
@import "./css/reset";
@import "./css/mixins";
@import "./css/colors";
@import "./css/typography";

@import "./css/chat-input";
@import "./css/chat-list";
@import "./css/chat-item";
@import "./css/giphy-browser";
@import "./css/header";
@import "./css/photo";
@import "./css/photo-viewer";

// new -viktor
@import "./css/wall-item";


//////////////////////////////////////////////////////////////////////////////////////////
// ROOM STYLES

body, html {
  overflow:hidden;
  height:100%;
  min-height:inherit;
  position:fixed;
  width:100%;
  top:0;
  left:0;
}

#app {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow: auto;
  overflow-x: hidden;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  .app-root {
	  width:100%;
	  height:100%;
  }
}

.chat {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  border-radius: 5px;
  overflow:hidden;
  // position: relative;
  // top:0;
  // left:0;
  background-color: #f7f8f6;
}

// minimized wall

.chat.is-minimized {
  transform: scale(0.9);
}


.chat-users {
  position:fixed;
  top:10%;
  height:80%;
  display:block;
  width:60px;
  right:0;
  background-color:red;
}

button {
  background-color:transparent;
  border:none;
}

.chat-new-post {
  background-color:#FFF;
  border-bottom: 1px solid rgba(201, 198, 200,0.6);
}

.chat-fake-input {
    @extend .font-size-default;
    font-family: $chat-family;
    background-color: transparent;
    border:none;
    flex: 0 0 auto;
    padding: 0.3em 0 0.2em;
    color: $color-dark-grey;

    &::-webkit-input-placeholder {
      color:$color-grey;
    }
    margin-left: calc-em(60px);
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    .chat-fake-input--input {
        margin: auto auto auto 0;
        border-style: none;
        @extend .font-size-default;
        color: $chat-input-placeholder;
    }
    .chat-fake-input--send-btn {
      pointer-events:none;
      color: $chat-input-send;
      margin: auto calc-em(10px) auto auto;
    }
}

.post-delete--confirm {
    margin-top: 1vh;
    padding: 1vh;
    justify-content: center;
    flex: 0 0 auto;
    button {
        flex: 0 0 auto;
        margin: auto;
        @extend .font-size-huge;

    }
}
